/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
fluent-plugin-remote_tls_syslog-1.0.0.iml
fluent-plugin-remote_tls_syslog-1.0.0.gem
.travis.yml
.idea/
